CompileFlags:
  Add: 
    - -Wall
    - -Wextra
    - -std=c++17
    - -pedantic
    - -fno-ms-compatibility
    - -fno-delayed-template-parsing
    - -Wno-unused-includes
  Remove:
    - -fms-compatibility
    - -fms-extensions
    - -fdelayed-template-parsing

Diagnostics:
  UnusedIncludes: None
  MissingIncludes: Strict
  ClangTidy:
    Add: 
      - modernize*
      - performance*
      - bugprone*
      - readability*
    Remove:
      - modernize-use-trailing-return-type
      - readability-identifier-length
      - bugprone-macro-parentheses

Index:
  Background: Build
